.wrapper {
  padding: 2rem;
}

.btn {
  margin-top: 1rem;
  min-width: 200px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1rem;
  }
  
  .btn {
    min-width: 150px;
  }
}

.Wrapper{
    padding: 10px;
}
.passwordText{
    margin-bottom: 30px;
}