.mainPoint{
  color: #71717A;
font-family: var(--font-avenir-next);
font-size: 14px;
font-style: normal;
font-weight: 450;
line-height: normal;
}

.mainPoint span{
  color: #64832D;
}

.route{
  margin-top: 10px;
  color: #333;
font-family: var(--font-aventa);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.TopHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.childrenMain{
  display: flex;
  align-items: center;
  gap: 10px;
}