@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("/fonts/Avenir Next Cyr Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Aventa";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/fonts/EllenLuff - Aventa Light.otf") format("opentype");
}

@font-face {
  font-family: "Aventa";
  font-weight: 300; /* Light */
  font-style: italic;
  src: url("/fonts/EllenLuff - Aventa Light Itallic.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700; /* Bold */
  font-style: italic;
  src: url("/fonts/Helvetica-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("/fonts/Helvetica-Oblique.ttf") format("truetype");
}

body{
  background-color: var(--light-gray-color);
}

.mainChild{
  padding-top: 40px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.loading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}