.TopHeader {
  margin-bottom: 20px;
}

.mainContClassName {
  width: 300px !important;
}

.profileParent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.profile img {
  border-radius: 50%;
}

.userName {
  color: #454545;
  font-family: "AvenirRegular";
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 22px; /* 157.143% */
}

.parentMain {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sports {
  padding: 6px 10px;
  background-color: #b0cd6e;
  border-radius: 40px;
  color: white;
}

.parentMain span{
    padding: 6px 10px;
    color: white !important;
    background-color: #F9E17A;
    border-radius: 30px;
}
.filterHeader{
  display: flex;
  gap: 10px;
}
