
.registrationContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .registrationUser {
    display: flex;
    gap: 1rem;
  }
  
  .registrationAvatar {
    border-radius: 50%;
  }
  
  .registrationName {
    font-weight: 600;
    font-size: 0.875rem;
    font-family: AventaBold;
  }
  
  .registrationText {
    font-size: 0.75rem;
    color: #6d6d6d;
    font-family: "AvenirRegular";
  }
  
  .registrationTime {
    font-size: 0.75rem;
    color: #6d6d6d;
    margin-top: 0.25rem;
    font-family: "AvenirRegular";

  }
  
  .registrationActions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .left{
    justify-content: flex-start;
  }
  
  .rejectButton {
    padding: 0.5rem 1rem;
    border: 1px solid #e7e7e7;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    font-family: "AvenirRegular";

  }
  
  .acceptButton {
    padding: 0.5rem 1rem;
    background-color: #b0cd6e;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    font-family: "AvenirRegular";

  }
  
  .notificationMain{
    display: flex;
    flex-direction: column;
    width: 100%;
  }