.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 16px;
  border: 1px solid #ffffff80;
  background: #fff3;
  box-shadow: inset 0 3px 5px #ffffff80;
  backdrop-filter: blur(50px);
  width: 100%;
  padding: 80px 90px;
  margin-bottom: 20px; */
  height: 100vh;
  flex-direction: column;
    gap: 45px;
     font-family: "AventaRegular";
}

.headingDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: left;
  text-align: center;
}

.headingDiv h2 {
  font-size: 48px;
  font-weight: 400;
  color: var(--Light-Green);
  line-height: 50px;
  text-align: center;
}

.headingDiv p {
  line-height: 21px;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 70%;
  background-color: var( --Dark-Charcoal);
  padding: 64px;
  align-items: center;
}

.btnfull {
  width: 100%;
  margin-top: 20px;
}

.inputColor{color: var(--White) !important;border-radius: 0 !important;border: none !important; padding: 10px 0px !important;border-bottom: 1px solid rgba(255, 255, 255, 0.50)!important;}
.labelColor{color: var(--White) !important;}