
.mainContClassName{
    width: 300px !important;
}

.notificationHeader{
    margin-top: 30px;
}

.notificationMain{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification{
    display: inline-block !important;
}
.filterHeader{
    margin-bottom: 0px !important;
}