.statsRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .statCard {
    background-color: white;
    border: 1px solid #b0cd6e;
    box-shadow: 0px 0px 19.8px 0px rgba(176, 205, 110, 0.90);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .statIcon {
    margin-bottom: 0.5rem;
  }
  
  .statValue {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-aventa);
    font-weight: 600;
  }
  
  .statLabel {
    font-size: 0.875rem;
    color: #6d6d6d;
    font-family: var(--font-avenir-next);
  }
  