

.tabs{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coachTop{
    margin-top: 30px;
}

.btn{
    width: fit-content !important;
}

.mainContClassName{
    width: 300px !important;
}

.main{
    display: flex;
    align-items: center;
    gap: 5px;
}