.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.editHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.header button,
.editHeader button {
  width: 180px !important;
}

.header button label {
  color: #344313 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
