.coachesList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TopHeader{
    margin-bottom: 20px;
}

.coach{
    color: #333;
font-family: "AventaBold";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.279px; /* 162.659% */
margin-bottom: 20px;
}